.markdown {
  @apply leading-relaxed;
}

.markdown p,
.markdown blockquote,
.markdown div {
  @apply my-6 md:text-base text-sm;
}

.markdown h2 {
  @apply text-3xl md:text-4xl mt-12 mb-4 leading-relaxed font-bold border-b;
}

.markdown h3 {
  @apply text-xl md:text-2xl mt-8 mb-4 leading-relaxed font-bold;
}

.markdown h4 {
  @apply text-lg md:text-xl mt-8 mb-4 leading-relaxed font-bold;
}


.markdown ul,
.markdown ol {
  @apply my-6 md:text-base text-sm;
  & > li {
    @apply my-1.5 leading-relaxed ml-4 pl-2;
  }
  & ul,
  & ol {
    @apply my-0.5;
  }
  & p {
    @apply m-0;
  }
}

.markdown ul {
  @apply pl-3;
  & > li {
    @apply list-disc;
  }
}

.markdown ol {
  @apply pl-3;
  & > li {
    @apply list-decimal;
  }
}

.markdown a {
  @apply underline text-sky-700;
}
html[class*="dark"] .markdown a {
  @apply text-sky-400;
}


.markdown img {
  display: table;
  max-width: 100%;
  height: auto;
  max-height: 70vh;
  margin: 1.5em auto;
}

.markdown code {
  @apply py-0.5 px-1.5 bg-sky-100 md:text-sm text-xs rounded;
  vertical-align: .08em;
}

html[class*="dark"] .markdown code {
  @apply bg-cyan-900;
}
html[class*="dark"] .markdown pre code {
  @apply bg-inherit;
}

.markdown pre code {
  @apply p-0 md:text-sm text-xs;
}

.markdown table {
  margin: 1.2rem auto;
  width: auto;
  border-collapse: collapse;
  font-size: 0.95em;
  line-height: 1.5;
  word-break: normal;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.markdown th,
.markdown td {
  @apply p-3 border-cyan-400 border;
}
.markdown th {
  @apply font-bold bg-cyan-100;
  background-color: #ffffff20;
}

.markdown summary {
  @apply cursor-pointer border-cyan-400 border rounded-lg p-4;
  background-color: #ffffff20;
}

.markdown details[open]>summary {
  @apply rounded-bl-none rounded-br-none border-b-0;
}

.markdown details[open]>div {
  @apply border-cyan-400 border-r border-b border-l rounded-bl-lg rounded-br-lg p-8 mt-0;
}
.markdown blockquote {
  @apply mx-3 border-cyan-400 border-l-4 rounded pl-6 py-0.5 bg-opacity-50 bg-gray-800;
  font-size: 0.97em;
  overflow: auto;
}