.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote,
.markdown div {
  @apply my-4 text-base;
}

.markdown h2 {
  @apply text-4xl mt-12 mb-4 leading-relaxed font-bold border-b;
}

.markdown h3 {
  @apply text-3xl mt-8 mb-4 leading-relaxed font-bold;
}

.markdown h4 {
  @apply text-2xl mt-8 mb-4 leading-relaxed font-bold;
}

.markdown ul>li {
  @apply list-disc;
}

.markdown ol>li {
  @apply list-decimal;
}

.markdown li {
  @apply leading-relaxed ml-8 pl-4;
}

.markdown img {
  display: table;
  max-width: 100%;
  height: auto;
  max-height: 70vh;
  margin: 1.5em auto;
}

.markdown code {
  padding: .2em .4em;
  background: #8998aa32;
  border-radius: 4px;
  vertical-align: .08em;
}

.markdown table {
  margin: 1.2rem auto;
  width: auto;
  border-collapse: collapse;
  font-size: 0.95em;
  line-height: 1.5;
  word-break: normal;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.markdown th,
.markdown td {
  @apply p-3 border-cyan-400 border;
}
.markdown th {
  @apply font-bold bg-cyan-100;
  background-color: #ffffff20;
}

.markdown summary {
  @apply cursor-pointer border-cyan-400 border rounded-lg p-4;
  background-color: #ffffff20;
}

.markdown details[open]>summary {
  @apply rounded-bl-none rounded-br-none border-b-0;
}

.markdown details[open]>div {
  @apply border-cyan-400 border-r border-b border-l rounded-bl-lg rounded-br-lg p-8 mt-0;
}